# PP3: Pandas

## Section 1: Getting and knowing your data

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [4]:
users = pd.read_csv(url, sep='|', index_col='user_id')

### Step 4. See the first 25 entries

In [5]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. See the last 10 entries

In [6]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [9]:
users.shape[0] # 943 observations

943

### Step 7. What is the number of columns in the dataset?

In [10]:
users.shape[1] # 4 columns

4

### Step 8. Print the name of all the columns.

In [15]:
list(users.columns)

['age', 'gender', 'occupation', 'zip_code']

### Step 9. How is the dataset indexed?

In [41]:
print(users['gender'].head()) # first 5 gender values with user_ids
print('----------------------------')
print(users.C) # values of row with user_id 940
print('----------------------------')
print(users.iloc[[1, 4], [0, 2]]) # 2nd, 4th row with 1st and 3rd columns

user_id
1    M
2    F
3    M
4    M
5    F
Name: gender, dtype: object
----------------------------
age                      32
gender                    M
occupation    administrator
zip_code              02215
Name: 940, dtype: object
----------------------------
         age occupation
user_id
2         53      other
5         33      other

### Step 10. What is the data type of each column?

In [43]:
users.dtypes # data type of each column

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [63]:
print(users['occupation'].to_string(index=False))

user_id
   technician
        other
       writer
   technician
        other
    executive
administrator
administrator
      student
       lawyer
        other
        other
     educator
    scientist
     educator
entertainment
   programmer
        other
    librarian
    homemaker
       writer
       writer
       artist
       artist
     engineer
     engineer
    librarian
       writer
   programmer
      student
       artist
      student
      student
administrator
    homemaker
      student
      student
        other
entertainment
    scientist
     engineer
administrator
    librarian
   technician
   programmer
    marketing
    marketing
administrator
      student
       writer
     educator
      student
   programmer
    executive
   programmer
    librarian
         none
   programmer
     educator
   healthcare
     engineer
administrator
    marketing
     educator
     educator
      student
      student
      student
     engineer
     engineer
    scientist
administrator
      student
    scientist
entertainment
      student
   technician
administrator
administrator
administrator
      student
   programmer
        other
    executive
     educator
administrator
administrator
    librarian
administrator
     educator
    marketing
entertainment
    executive
      student
administrator
       artist
       artist
    executive
      student
    executive
      student
   programmer
      student
      student
     engineer
      retired
    scientist
     educator
        other
      student
     engineer
     salesman
    executive
   programmer
     engineer
   healthcare
      student
administrator
   programmer
        other
    librarian
       writer
       artist
      student
       lawyer
       lawyer
         none
    marketing
    marketing
         none
administrator
        other
     engineer
   programmer
      student
        other
     educator
       doctor
      student
      student
   programmer
        other
   technician
   programmer
entertainment
       artist
    librarian
     engineer
    marketing
       artist
administrator
     educator
      student
      student
        other
     educator
     engineer
     educator
      student
   programmer
       lawyer
       artist
administrator
   healthcare
        other
     educator
        other
        other
        other
   healthcare
     educator
    marketing
        other
administrator
    scientist
    scientist
   programmer
        other
entertainment
administrator
    executive
   programmer
    scientist
    librarian
    librarian
    executive
     educator
      student
       artist
administrator
administrator
     educator
      student
administrator
    scientist
       writer
   technician
      student
       writer
   programmer
       writer
     educator
      student
    librarian
       lawyer
      student
    marketing
     engineer
     educator
     engineer
     salesman
     educator
    executive
    librarian
   programmer
     engineer
        other
administrator
   programmer
    librarian
      student
   programmer
      student
     educator
administrator
      student
    executive
      student
    librarian
      student
    librarian
    scientist
     engineer
      retired
     educator
       writer
administrator
administrator
       artist
     educator
      student
     educator
     educator
   technician
      student
      student
     engineer
      student
      student
    executive
       doctor
     engineer
    librarian
     educator
entertainment
         none
      student
      student
      student
       artist
administrator
      student
   programmer
       writer
    executive
administrator
     engineer
     engineer
    librarian
      student
     engineer
    scientist
        other
      student
     engineer
      student
administrator
    librarian
   programmer
    librarian
      student
administrator
   programmer
    executive
   programmer
      student
     salesman
    marketing
         none
     engineer
      student
   programmer
       writer
   technician
     educator
administrator
     educator
    executive
       doctor
   programmer
      student
     educator
      student
      student
   programmer
        other
      student
      retired
    scientist
     educator
   technician
        other
    marketing
      student
     educator
        other
administrator
      retired
   programmer
      student
     educator
      student
      student
      student
   technician
administrator
      student
administrator
     educator
     educator
entertainment
      student
        other
    librarian
    executive
     salesman
    scientist
    librarian
       lawyer
     engineer
      student
        other
     engineer
    librarian
    librarian
        other
      student
      student
      retired
      student
     educator
   programmer
    scientist
    librarian
      student
    homemaker
    executive
     educator
      student
        other
      student
    homemaker
      student
     engineer
       lawyer
      student
      student
      student
      student
       writer
     engineer
      student
        other
    executive
entertainment
        other
      student
      student
   programmer
     engineer
       artist
     engineer
administrator
   programmer
       writer
     salesman
entertainment
        other
       writer
       writer
      student
       writer
      student
administrator
        other
     engineer
      student
        other
        other
administrator
   healthcare
     engineer
        other
   programmer
   healthcare
     educator
     engineer
      student
administrator
       artist
     educator
     educator
     educator
   programmer
     educator
      student
        other
         none
       lawyer
     educator
   programmer
entertainment
        other
    marketing
      student
     educator
       doctor
      student
      student
    scientist
    marketing
entertainment
       artist
      student
     engineer
administrator
        other
administrator
administrator
        other
   technician
      student
     salesman
       lawyer
       writer
     educator
administrator
entertainment
    librarian
     educator
      student
administrator
      student
        other
administrator
   technician
     salesman
   technician
      student
        other
      student
      student
   healthcare
       writer
        other
      student
     engineer
     engineer
     educator
   programmer
      student
      student
      student
    executive
   programmer
      student
      student
        other
     educator
      retired
      retired
      student
    scientist
      student
     educator
     educator
     engineer
   technician
        other
       artist
       writer
     educator
     engineer
administrator
     engineer
      student
      student
       writer
   programmer
administrator
      student
      student
       writer
       writer
        other
   programmer
       writer
    marketing
administrator
        other
      student
        other
administrator
   programmer
    marketing
    librarian
      student
       writer
        other
   healthcare
      student
     engineer
administrator
     educator
administrator
    marketing
    librarian
      student
administrator
     engineer
     salesman
      student
    librarian
      student
     educator
     engineer
     engineer
    scientist
administrator
     engineer
      student
      student
    scientist
        other
   technician
    executive
     educator
       writer
    scientist
      student
   programmer
        other
     educator
    scientist
     educator
     educator
       writer
       writer
    executive
      student
     engineer
administrator
    librarian
      retired
      student
      student
entertainment
     educator
     educator
     educator
       artist
     educator
      retired
     educator
    marketing
    executive
      student
administrator
     educator
      student
        other
      student
     engineer
      student
    librarian
      student
        other
      student
       lawyer
     educator
    librarian
      student
     educator
     educator
   programmer
       artist
        other
    marketing
      student
   programmer
       artist
        other
   programmer
     educator
     engineer
   programmer
   healthcare
        other
      student
      student
    librarian
     educator
    marketing
     educator
     educator
    scientist
       writer
      student
      student
       writer
      student
   programmer
     educator
      student
   programmer
    scientist
     engineer
         none
        other
   healthcare
      student
      student
   programmer
     engineer
        other
     educator
        other
     engineer
    librarian
      student
      student
      student
    scientist
      retired
   programmer
      student
     educator
     engineer
      student
     engineer
      retired
        other
    executive
      student
   healthcare
     educator
         none
   programmer
     educator
      student
   programmer
    librarian
        other
     engineer
administrator
administrator
    librarian
       writer
        other
   technician
   programmer
administrator
     educator
      student
        other
   programmer
        other
     educator
      student
       lawyer
    marketing
   programmer
    librarian
      student
    librarian
     educator
   healthcare
administrator
        other
     salesman
     educator
     engineer
   healthcare
   programmer
       writer
        other
        other
   programmer
        other
      student
    librarian
        other
     educator
    librarian
      student
      student
    librarian
    homemaker
        other
      student
      student
      student
        other
     engineer
   technician
administrator
   technician
   technician
        other
administrator
entertainment
    homemaker
    executive
    executive
      student
administrator
      student
    executive
      student
    scientist
     educator
        other
        other
        other
   healthcare
       writer
   programmer
   technician
   technician
     educator
       writer
      student
   programmer
    marketing
       writer
     engineer
        other
administrator
        other
administrator
        other
      retired
     salesman
    librarian
     educator
         none
      student
      student
      student
        other
      student
administrator
    scientist
     educator
      student
        other
     engineer
administrator
    executive
      student
      student
       writer
      student
      student
    executive
    librarian
   programmer
      student
      student
   programmer
      student
       artist
    marketing
administrator
     engineer
     engineer
      student
administrator
        other
   technician
     educator
   programmer
      student
     educator
   programmer
       writer
        other
       writer
administrator
   programmer
       writer
administrator
administrator
     educator
        other
    marketing
   healthcare
     salesman
    marketing
        other
     educator
   technician
      student
        other
        other
        other
      student
    librarian
administrator
      student
     engineer
    librarian
       artist
        other
     engineer
       artist
     engineer
    librarian
       writer
   programmer
        other
   technician
       writer
        other
    executive
       artist
       artist
      student
entertainment
       artist
       doctor
       writer
    librarian
     engineer
       doctor
       lawyer
      student
     engineer
      student
   technician
        other
administrator
       writer
      student
    librarian
    marketing
administrator
     educator
        other
      retired
      student
    executive
      student
   programmer
       artist
        other
    scientist
   programmer
      student
      student
    executive
      student
administrator
    scientist
      student
        other
        other
     educator
administrator
      student
    marketing
     engineer
    librarian
     engineer
        other
      student
      student
    scientist
   technician
      student
administrator
        other
      student
     educator
    librarian
       writer
        other
    homemaker
        other
      retired
    executive
       artist
     educator
      student
        other
    librarian
        other
    librarian
     educator
   healthcare
       writer
        other
      student
        other
entertainment
     engineer
      student
    scientist
        other
       artist
      student
administrator
      student
        other
     salesman
entertainment
   programmer
      student
    scientist
    scientist
     educator
     educator
      student
     engineer
       doctor
        other
     educator
   technician
      student
administrator
      student
    librarian
      student

### Step 12. How many different occupations are in this dataset?

In [96]:
all_occupations = users[users['occupation'] != 'none']
len(all_occupations['occupation'].unique()) # 20 including retired as one of occupation

20

### Step 13. What is the most frequent occupation?

In [97]:
all_occupations['occupation'].mode() # student

0    student
dtype: object

### Step 14. Summarize the DataFrame.

In [108]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 69.1+ KB

### Step 15. Summarize all the columns

In [110]:
users.describe(include = ['int', 'object'])

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Step 16. Summarize only the occupation column

In [112]:
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of users?

In [113]:
users['age'].mean() # 34.05196182396607

34.05196182396607

### Step 18. What is the age with least occurrence?

In [119]:
age_counts = users['age'].value_counts()
rare_ages = age_counts[age_counts <= 1]
rare_ages # 7, 10, 11, 66, 73

7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64

## Section 2: Filtering and Sorting

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

### Step 3. Assign it to a variable called euro12.

### Step 4. Select only the Goal column.

### Step 5. How many team participated in the Euro2012?

### Step 6. What is the number of columns in the dataset?

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

### Step 9. Calculate the mean Yellow Cards given per Team

### Step 10. Filter teams that scored more than 6 goals

### Step 11. Select the teams that start with G

### Step 12. Select the first 7 columns

### Step 13. Select all columns except the last 3.

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

## Section 3: Grouping

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

### Step 4. Which continent drinks more beer on average?

### Step 5. For each continent print the statistics for wine consumption.

### Step 6. Print the mean alcohol consumption per continent for every column

### Step 7. Print the median alcohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

## Section 4: Apply

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

### Step 4. What is the type of the columns?

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

### Step 6. Set the Year column as the index of the dataframe

### Step 7. Delete the Total column

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

### Step 9. What is the most dangerous decade to live in the US?

## Section 5: Merge

### Step 1. Import the necessary libraries

### Step 2. Create the 3 DataFrames based on the following raw data

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step 3. Assign each to a variable called data1, data2, data3

### Step 4. Join the two dataframes along rows and assign all_data

### Step 5. Join the two dataframes along columns and assing to all_data_col

### Step 6. Print data3

### Step 7. Merge all_data and data3 along the subject_id value

### Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2

### Step 9. Merge all values in data1 and data2, with matching records from both sides where available.

## Section 6: Stats

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [ ]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

### Step 7. Compute how many non-missing values there are in total.

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

### Step 12. Downsample the record to a yearly frequency for each location.

### Step 13. Downsample the record to a monthly frequency for each location.

### Step 14. Downsample the record to a weekly frequency for each location.

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

## Section 7: Visualization

### Introduction:

This exercise is based on the titanic Disaster dataset avaiable at [Kaggle](https://www.kaggle.com/c/titanic).  
To know more about the variables check [here](https://www.kaggle.com/c/titanic/data)


### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Titanic_Desaster/train.csv)

### Step 3. Assign it to a variable titanic

### Step 4. Set PassengerId as the index

### Step 5. Create a pie chart presenting the male/female proportion

### Step 6. Create a scatterplot with the Fare payed and the Age, differ the plot color by gender

### Step 7. How many people survived?

### Step 8. Create a histogram with the Fare payed

### BONUS: Create your own question and answer it.

## Section 8: Creating Series and DataFrames

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

### Step 2. Create a data dictionary that looks like the DataFrame below

### Step 3. Assign it to a variable called pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

### Step 5. Add another column called place, and insert what you have in mind.

### Step 6. Present the type of each column

### BONUS: Create your own question and answer it.

## Section: 9 Time Series

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

### Step 3. Assign it to a variable apple

### Step 4.  Check out the type of the columns

### Step 5. Transform the Date column as a datetime type

### Step 6.  Set the date as the index

### Step 7.  Is there any duplicate dates?

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

### Step 9. Get the last business day of each month

### Step 10.  What is the difference in days between the first day and the oldest

### Step 11.  How many months in the data we have?

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

## Section 10: Deleting

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

### Step 6. Set the values of the first 3 rows from alcohol as NaN

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

### Step 9. Count the number of missing values

### Step 10.  Create an array of 10 random numbers up until 10

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

### Step 12.  How many missing values do we have?

### Step 13. Delete the rows that contain missing values

### Step 14. Print only the non-null values in alcohol

### Step 15.  Reset the index, so it starts with 0 again