<a href="https://colab.research.google.com/github/VladislavasR/GitDemoProject/blob/master/03_Pandas/PP3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PP3: Pandas

## Section 1: Getting and knowing your data

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [ ]:
users = pd.read_csv(url, sep='|', index_col='user_id')

### Step 4. See the first 25 entries

In [ ]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. See the last 10 entries

In [ ]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [ ]:
users.shape[0] # 943 observations

943

### Step 7. What is the number of columns in the dataset?

In [ ]:
users.shape[1] # 4 columns

4

### Step 8. Print the name of all the columns.

In [ ]:
list(users.columns)

['age', 'gender', 'occupation', 'zip_code']

### Step 9. How is the dataset indexed?

In [ ]:
print(users['gender'].head()) # first 5 gender values with user_ids
print('----------------------------')
print(users.loc[940]) # values of row with user_id 940
print('----------------------------')
print(users.iloc[[1, 4], [0, 2]]) # 2nd, 4th row with 1st and 3rd columns

user_id
1    M
2    F
3    M
4    M
5    F
Name: gender, dtype: object
----------------------------
age                      32
gender                    M
occupation    administrator
zip_code              02215
Name: 940, dtype: object
----------------------------
         age occupation
user_id
2         53      other
5         33      other

### Step 10. What is the data type of each column?

In [ ]:
users.dtypes # data type of each column

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [ ]:
print(users['occupation'].to_string(index=False))

user_id
   technician
        other
       writer
   technician
        other
    executive
administrator
administrator
      student
       lawyer
        other
        other
     educator
    scientist
     educator
entertainment
   programmer
        other
    librarian
    homemaker
       writer
       writer
       artist
       artist
     engineer
     engineer
    librarian
       writer
   programmer
      student
       artist
      student
      student
administrator
    homemaker
      student
      student
        other
entertainment
    scientist
     engineer
administrator
    librarian
   technician
   programmer
    marketing
    marketing
administrator
      student
       writer
     educator
      student
   programmer
    executive
   programmer
    librarian
         none
   programmer
     educator
   healthcare
     engineer
administrator
    marketing
     educator
     educator
      student
      student
      student
     engineer
     engineer
    scientist
administrator
      student
    scientist
entertainment
      student
   technician
administrator
administrator
administrator
      student
   programmer
        other
    executive
     educator
administrator
administrator
    librarian
administrator
     educator
    marketing
entertainment
    executive
      student
administrator
       artist
       artist
    executive
      student
    executive
      student
   programmer
      student
      student
     engineer
      retired
    scientist
     educator
        other
      student
     engineer
     salesman
    executive
   programmer
     engineer
   healthcare
      student
administrator
   programmer
        other
    librarian
       writer
       artist
      student
       lawyer
       lawyer
         none
    marketing
    marketing
         none
administrator
        other
     engineer
   programmer
      student
        other
     educator
       doctor
      student
      student
   programmer
        other
   technician
   programmer
entertainment
       artist
    librarian
     engineer
    marketing
       artist
administrator
     educator
      student
      student
        other
     educator
     engineer
     educator
      student
   programmer
       lawyer
       artist
administrator
   healthcare
        other
     educator
        other
        other
        other
   healthcare
     educator
    marketing
        other
administrator
    scientist
    scientist
   programmer
        other
entertainment
administrator
    executive
   programmer
    scientist
    librarian
    librarian
    executive
     educator
      student
       artist
administrator
administrator
     educator
      student
administrator
    scientist
       writer
   technician
      student
       writer
   programmer
       writer
     educator
      student
    librarian
       lawyer
      student
    marketing
     engineer
     educator
     engineer
     salesman
     educator
    executive
    librarian
   programmer
     engineer
        other
administrator
   programmer
    librarian
      student
   programmer
      student
     educator
administrator
      student
    executive
      student
    librarian
      student
    librarian
    scientist
     engineer
      retired
     educator
       writer
administrator
administrator
       artist
     educator
      student
     educator
     educator
   technician
      student
      student
     engineer
      student
      student
    executive
       doctor
     engineer
    librarian
     educator
entertainment
         none
      student
      student
      student
       artist
administrator
      student
   programmer
       writer
    executive
administrator
     engineer
     engineer
    librarian
      student
     engineer
    scientist
        other
      student
     engineer
      student
administrator
    librarian
   programmer
    librarian
      student
administrator
   programmer
    executive
   programmer
      student
     salesman
    marketing
         none
     engineer
      student
   programmer
       writer
   technician
     educator
administrator
     educator
    executive
       doctor
   programmer
      student
     educator
      student
      student
   programmer
        other
      student
      retired
    scientist
     educator
   technician
        other
    marketing
      student
     educator
        other
administrator
      retired
   programmer
      student
     educator
      student
      student
      student
   technician
administrator
      student
administrator
     educator
     educator
entertainment
      student
        other
    librarian
    executive
     salesman
    scientist
    librarian
       lawyer
     engineer
      student
        other
     engineer
    librarian
    librarian
        other
      student
      student
      retired
      student
     educator
   programmer
    scientist
    librarian
      student
    homemaker
    executive
     educator
      student
        other
      student
    homemaker
      student
     engineer
       lawyer
      student
      student
      student
      student
       writer
     engineer
      student
        other
    executive
entertainment
        other
      student
      student
   programmer
     engineer
       artist
     engineer
administrator
   programmer
       writer
     salesman
entertainment
        other
       writer
       writer
      student
       writer
      student
administrator
        other
     engineer
      student
        other
        other
administrator
   healthcare
     engineer
        other
   programmer
   healthcare
     educator
     engineer
      student
administrator
       artist
     educator
     educator
     educator
   programmer
     educator
      student
        other
         none
       lawyer
     educator
   programmer
entertainment
        other
    marketing
      student
     educator
       doctor
      student
      student
    scientist
    marketing
entertainment
       artist
      student
     engineer
administrator
        other
administrator
administrator
        other
   technician
      student
     salesman
       lawyer
       writer
     educator
administrator
entertainment
    librarian
     educator
      student
administrator
      student
        other
administrator
   technician
     salesman
   technician
      student
        other
      student
      student
   healthcare
       writer
        other
      student
     engineer
     engineer
     educator
   programmer
      student
      student
      student
    executive
   programmer
      student
      student
        other
     educator
      retired
      retired
      student
    scientist
      student
     educator
     educator
     engineer
   technician
        other
       artist
       writer
     educator
     engineer
administrator
     engineer
      student
      student
       writer
   programmer
administrator
      student
      student
       writer
       writer
        other
   programmer
       writer
    marketing
administrator
        other
      student
        other
administrator
   programmer
    marketing
    librarian
      student
       writer
        other
   healthcare
      student
     engineer
administrator
     educator
administrator
    marketing
    librarian
      student
administrator
     engineer
     salesman
      student
    librarian
      student
     educator
     engineer
     engineer
    scientist
administrator
     engineer
      student
      student
    scientist
        other
   technician
    executive
     educator
       writer
    scientist
      student
   programmer
        other
     educator
    scientist
     educator
     educator
       writer
       writer
    executive
      student
     engineer
administrator
    librarian
      retired
      student
      student
entertainment
     educator
     educator
     educator
       artist
     educator
      retired
     educator
    marketing
    executive
      student
administrator
     educator
      student
        other
      student
     engineer
      student
    librarian
      student
        other
      student
       lawyer
     educator
    librarian
      student
     educator
     educator
   programmer
       artist
        other
    marketing
      student
   programmer
       artist
        other
   programmer
     educator
     engineer
   programmer
   healthcare
        other
      student
      student
    librarian
     educator
    marketing
     educator
     educator
    scientist
       writer
      student
      student
       writer
      student
   programmer
     educator
      student
   programmer
    scientist
     engineer
         none
        other
   healthcare
      student
      student
   programmer
     engineer
        other
     educator
        other
     engineer
    librarian
      student
      student
      student
    scientist
      retired
   programmer
      student
     educator
     engineer
      student
     engineer
      retired
        other
    executive
      student
   healthcare
     educator
         none
   programmer
     educator
      student
   programmer
    librarian
        other
     engineer
administrator
administrator
    librarian
       writer
        other
   technician
   programmer
administrator
     educator
      student
        other
   programmer
        other
     educator
      student
       lawyer
    marketing
   programmer
    librarian
      student
    librarian
     educator
   healthcare
administrator
        other
     salesman
     educator
     engineer
   healthcare
   programmer
       writer
        other
        other
   programmer
        other
      student
    librarian
        other
     educator
    librarian
      student
      student
    librarian
    homemaker
        other
      student
      student
      student
        other
     engineer
   technician
administrator
   technician
   technician
        other
administrator
entertainment
    homemaker
    executive
    executive
      student
administrator
      student
    executive
      student
    scientist
     educator
        other
        other
        other
   healthcare
       writer
   programmer
   technician
   technician
     educator
       writer
      student
   programmer
    marketing
       writer
     engineer
        other
administrator
        other
administrator
        other
      retired
     salesman
    librarian
     educator
         none
      student
      student
      student
        other
      student
administrator
    scientist
     educator
      student
        other
     engineer
administrator
    executive
      student
      student
       writer
      student
      student
    executive
    librarian
   programmer
      student
      student
   programmer
      student
       artist
    marketing
administrator
     engineer
     engineer
      student
administrator
        other
   technician
     educator
   programmer
      student
     educator
   programmer
       writer
        other
       writer
administrator
   programmer
       writer
administrator
administrator
     educator
        other
    marketing
   healthcare
     salesman
    marketing
        other
     educator
   technician
      student
        other
        other
        other
      student
    librarian
administrator
      student
     engineer
    librarian
       artist
        other
     engineer
       artist
     engineer
    librarian
       writer
   programmer
        other
   technician
       writer
        other
    executive
       artist
       artist
      student
entertainment
       artist
       doctor
       writer
    librarian
     engineer
       doctor
       lawyer
      student
     engineer
      student
   technician
        other
administrator
       writer
      student
    librarian
    marketing
administrator
     educator
        other
      retired
      student
    executive
      student
   programmer
       artist
        other
    scientist
   programmer
      student
      student
    executive
      student
administrator
    scientist
      student
        other
        other
     educator
administrator
      student
    marketing
     engineer
    librarian
     engineer
        other
      student
      student
    scientist
   technician
      student
administrator
        other
      student
     educator
    librarian
       writer
        other
    homemaker
        other
      retired
    executive
       artist
     educator
      student
        other
    librarian
        other
    librarian
     educator
   healthcare
       writer
        other
      student
        other
entertainment
     engineer
      student
    scientist
        other
       artist
      student
administrator
      student
        other
     salesman
entertainment
   programmer
      student
    scientist
    scientist
     educator
     educator
      student
     engineer
       doctor
        other
     educator
   technician
      student
administrator
      student
    librarian
      student

### Step 12. How many different occupations are in this dataset?

In [ ]:
all_occupations = users[users['occupation'] != 'none']
len(all_occupations['occupation'].unique()) # 20 including retired as one of occupation

20

### Step 13. What is the most frequent occupation?

In [ ]:
all_occupations['occupation'].mode() # student

0    student
dtype: object

### Step 14. Summarize the DataFrame.

In [ ]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 69.1+ KB

### Step 15. Summarize all the columns

In [ ]:
users.describe(include = ['int', 'object'])

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Step 16. Summarize only the occupation column

In [ ]:
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of users?

In [ ]:
users['age'].mean() # 34.05196182396607

34.05196182396607

### Step 18. What is the age with least occurrence?

In [ ]:
age_counts = users['age'].value_counts()
rare_ages = age_counts[age_counts <= 1]
rare_ages # 7, 10, 11, 66, 73

7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64

## Section 2: Filtering and Sorting

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

In [ ]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv'

### Step 3. Assign it to a variable called euro12.

In [ ]:
euro12 = pd.read_csv(url, sep=',')

### Step 4. Select only the Goal column.

In [ ]:
euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [ ]:
euro12.shape[0] # 16 teams

16

### Step 6. What is the number of columns in the dataset?

In [ ]:
euro12.shape[1] # 35 columns

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [ ]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [ ]:
sorted_teams = discipline.sort_values(['Red Cards', 'Yellow Cards'])

### Step 9. Calculate the mean Yellow Cards given per Team

In [ ]:
euro12['Yellow Cards'].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [ ]:
good_teams = euro12[euro12['Goals'] > 6]

### Step 11. Select the teams that start with G

In [ ]:
g_teams = euro12[euro12['Team'].str.startswith('G')]

### Step 12. Select the first 7 columns

In [ ]:
euro12.iloc[:, 0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

### Step 13. Select all columns except the last 3.

In [ ]:
euro12.iloc[:,0:-3]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [ ]:
euro12.loc[(euro12['Team'] == 'England') | (euro12['Team'] == 'Italy') | (euro12['Team'] == 'Russia'), 'Shooting Accuracy']

3     50.0%
7     43.0%
12    22.5%
Name: Shooting Accuracy, dtype: object

## Section 3: Grouping

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

### Step 3. Assign it to a variable called drinks.

In [ ]:
drinks = pd.read_csv(url, sep=',')

### Step 4. Which continent drinks more beer on average?

In [ ]:
groups_by_cont = drinks.groupby('continent')
groups_by_cont['beer_servings'].agg('mean').nlargest().head(1) # EU

continent
EU    193.777778
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [ ]:
for name, item in groups_by_cont:
  print(f'{name} mean: {item["wine_servings"].mean()}')
  print(f'{name} median: {item["wine_servings"].median()}')

AF mean: 16.264150943396228
AF median: 2.0
AS mean: 9.068181818181818
AS median: 1.0
EU mean: 142.22222222222223
EU median: 128.0
OC mean: 35.625
OC median: 8.5
SA mean: 62.416666666666664
SA median: 12.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [ ]:
for name, item in groups_by_cont:
  print(f'{name} beer: {item["beer_servings"].mean()}')
  print(f'{name} spirit: {item["spirit_servings"].mean()}')
  print(f'{name} wine: {item["wine_servings"].mean()}')
  print(f'{name} total: {item["total_litres_of_pure_alcohol"].mean()}')

AF beer: 61.471698113207545
AF spirit: 16.339622641509433
AF wine: 16.264150943396228
AF total: 3.0075471698113208
AS beer: 37.04545454545455
AS spirit: 60.84090909090909
AS wine: 9.068181818181818
AS total: 2.170454545454545
EU beer: 193.77777777777777
EU spirit: 132.55555555555554
EU wine: 142.22222222222223
EU total: 8.617777777777775
OC beer: 89.6875
OC spirit: 58.4375
OC wine: 35.625
OC total: 3.3812499999999996
SA beer: 175.08333333333334
SA spirit: 114.75
SA wine: 62.416666666666664
SA total: 6.308333333333334

### Step 7. Print the median alcohol consumption per continent for every column

In [ ]:
for name, item in groups_by_cont:
  print(f'{name} beer: {item["beer_servings"].median()}')
  print(f'{name} spirit: {item["spirit_servings"].median()}')
  print(f'{name} wine: {item["wine_servings"].median()}')
  print(f'{name} total: {item["total_litres_of_pure_alcohol"].median()}')

AF beer: 32.0
AF spirit: 3.0
AF wine: 2.0
AF total: 2.3
AS beer: 17.5
AS spirit: 16.0
AS wine: 1.0
AS total: 1.2
EU beer: 219.0
EU spirit: 122.0
EU wine: 128.0
EU total: 10.0
OC beer: 52.5
OC spirit: 37.0
OC wine: 8.5
OC total: 1.75
SA beer: 162.5
SA spirit: 108.5
SA wine: 12.0
SA total: 6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [ ]:
groups_by_cont.agg(['mean', 'min', 'max'])

          beer_servings          spirit_servings          wine_servings      \
                   mean min  max            mean min  max          mean min
continent
AF            61.471698   0  376       16.339623   0  152     16.264151   0
AS            37.045455   0  247       60.840909   0  326      9.068182   0
EU           193.777778   0  361      132.555556   0  373    142.222222   0
OC            89.687500   0  306       58.437500   0  254     35.625000   0
SA           175.083333  93  333      114.750000  25  302     62.416667   1

               total_litres_of_pure_alcohol
           max                         mean  min   max
continent
AF         233                     3.007547  0.0   9.1
AS         123                     2.170455  0.0  11.5
EU         370                     8.617778  0.0  14.4
OC         212                     3.381250  0.0  10.4
SA         221                     6.308333  3.8   8.3

## Section 4: Apply

### Step 1. Import the necessary libraries

In [8]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [9]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'

### Step 3. Assign it to a variable called crime.

In [10]:
crime = pd.read_csv(url, sep=',')

### Step 4. What is the type of the columns?

In [11]:
crime.info() # int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [12]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')

### Step 6. Set the Year column as the index of the dataframe

In [13]:
crime.set_index('Year', inplace=True)

### Step 7. Delete the Total column

In [ ]:
crime_no_total = crime.drop('Total', axis=1)
crime_no_total

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965-01-01,193526000,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966-01-01,195576000,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967-01-01,197457000,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968-01-01,199399000,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969-01-01,201385000,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1970-01-01,203235298,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
1971-01-01,206212000,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1972-01-01,208230000,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1973-01-01,209851000,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1974-01-01,211392000,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1975-01-01,213124000,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1976-01-01,214659000,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1977-01-01,216332000,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1978-01-01,218059000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1979-01-01,220099000,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1980-01-01,225349264,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1981-01-01,229146000,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1982-01-01,231534000,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1983-01-01,233981000,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1984-01-01,236158000,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
1985-01-01,238740000,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
1986-01-01,240132887,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1987-01-01,242282918,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
1988-01-01,245807000,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1989-01-01,248239000,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
1990-01-01,248709873,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1991-01-01,252177000,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1992-01-01,255082000,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1993-01-01,257908000,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1994-01-01,260341000,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1995-01-01,262755000,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1996-01-01,265228572,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1997-01-01,267637000,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
1998-01-01,270296000,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
1999-01-01,272690813,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2000-01-01,281421906,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
2001-01-01,285317559,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2002-01-01,287973924,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2003-01-01,290690788,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
2004-01-01,293656842,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
2005-01-01,296507061,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2006-01-01,299398484,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
2007-01-01,301621157,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2008-01-01,304374846,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2009-01-01,307006550,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
2010-01-01,309330219,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2011-01-01,311587816,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
2012-01-01,313873685,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
2013-01-01,316497531,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
2014-01-01,318857056,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [ ]:
group_by_dec = crime.groupby((crime.index.year//10)*10)
sum_of_crimes = group_by_dec.agg({'Population' : np.max, 'Total' : np.sum, 'Violent' : np.sum, 'Property' : np.sum, 'Murder' : np.sum, 'Forcible_Rape' : np.sum, 'Robbery' : np.sum,
                 'Aggravated_assault' : np.sum, 'Burglary' : np.sum, 'Larceny_Theft' : np.sum, 'Vehicle_Theft' : np.sum})
sum_of_crimes

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,201385000,49295900,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970,220099000,100991600,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980,248239000,131123369,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990,272690813,136582146,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000,307006550,115012044,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010,318857056,50167967,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

### Step 9. What is the most dangerous decade to live in the US?

In [ ]:
sum_of_crimes.sort_values('Total', ascending=False).head(1) # 1990

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1990,272690813,136582146,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418

## Section 5: Merge

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Create the 3 DataFrames based on the following raw data

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step 3. Assign each to a variable called data1, data2, data3

In [ ]:
data1 = pd.DataFrame.from_dict(raw_data_1)
data2 = pd.DataFrame.from_dict(raw_data_2)
data3 = pd.DataFrame.from_dict(raw_data_3)

### Step 4. Join the two dataframes along rows and assign all_data

In [ ]:
all_data = pd.concat([data1, data2])
all_data

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

### Step 5. Join the two dataframes along columns and assing to all_data_col

In [ ]:
all_data_col = pd.concat([data1, data2], axis=1)

### Step 6. Print data3

In [ ]:
print(data3)

  subject_id  test_id
0          1       51
1          2       15
2          3       15
3          4       61
4          5       16
5          7       14
6          8       15
7          9        1
8         10       61
9         11       16

### Step 7. Merge all_data and data3 along the subject_id value

In [ ]:
merged_df = pd.merge(all_data, data3, on="subject_id")

### Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2

In [ ]:
all_data_by_id = pd.merge(data1, data2, left_on="subject_id", right_on="subject_id")

### Step 9. Merge all values in data1 and data2, with matching records from both sides where available.

In [ ]:
data_by_match = pd.merge(data1, data2, on="subject_id", how="inner")

## Section 6: Stats

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [ ]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [103]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

In [127]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [128]:
data = pd.read_csv(url, delimiter=r"\s+")
data = data.rename({'Yr': 'Year', 'Mo': 'Month', 'Dy': 'Day'}, axis=1)
full_date = data['Year'].astype(str) + '-' + data['Month'].astype(str) + '-'  + data['Day'].astype(str)
data.drop(columns=data.columns[0:3], axis=1, inplace=True)
data.insert(0, column='Date', value = full_date)
data['Date'] = pd.to_datetime(data['Date'])

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [132]:
data['Date'] = data['Date'].mask(data['Date'].dt.year > 2022, data['Date'] - pd.offsets.DateOffset(years=100))

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [133]:
data.set_index('Date', inplace=True)

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [134]:
data.isna().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [135]:
data.count().sum() - data.isna().sum().sum() # 85400

78826

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [136]:
data.fillna(data.mean(), inplace=True)
data.mean().mean() # 10.227982360836936

10.227982360836936

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [137]:
loc_stats = data.agg(['min', 'max', 'mean', 'std'])

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [140]:
day_stats = data.agg(['min', 'max', 'mean', 'std'], axis=1)

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [142]:
groups_by_month = data.groupby(by=[data.index.month])
groups_by_month.mean().head(1)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1,14.842873,12.910492,13.299624,7.199498,11.66339,8.054839,11.819355,9.510224,9.543208,10.053566,14.55052,18.028763

### Step 12. Downsample the record to a yearly frequency for each location.

In [144]:
data_yearly = data.resample('Y').mean()

### Step 13. Downsample the record to a monthly frequency for each location.

In [147]:
data_monthly = data.resample('M').mean()

### Step 14. Downsample the record to a weekly frequency for each location.

In [164]:
data_weekly = data.resample('W').mean()

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [167]:
data_from_2nd = data.iloc[1: , :]
data_weekly_from_2nd = data_from_2nd.resample('W').mean()
weekly_stats_52 = data_weekly_from_2nd.iloc[0:52, :].agg(['min', 'max', 'mean', 'std'], axis=1)

## Section 7: Visualization

### Introduction:

This exercise is based on the titanic Disaster dataset avaiable at [Kaggle](https://www.kaggle.com/c/titanic).  
To know more about the variables check [here](https://www.kaggle.com/c/titanic/data)


### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Titanic_Desaster/train.csv)

### Step 3. Assign it to a variable titanic

### Step 4. Set PassengerId as the index

### Step 5. Create a pie chart presenting the male/female proportion

### Step 6. Create a scatterplot with the Fare payed and the Age, differ the plot color by gender

### Step 7. How many people survived?

### Step 8. Create a histogram with the Fare payed

### BONUS: Create your own question and answer it.

## Section 8: Creating Series and DataFrames

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

### Step 2. Create a data dictionary that looks like the DataFrame below

### Step 3. Assign it to a variable called pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

### Step 5. Add another column called place, and insert what you have in mind.

### Step 6. Present the type of each column

### BONUS: Create your own question and answer it.

## Section: 9 Time Series

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv)

### Step 3. Assign it to a variable apple

### Step 4.  Check out the type of the columns

### Step 5. Transform the Date column as a datetime type

### Step 6.  Set the date as the index

### Step 7.  Is there any duplicate dates?

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

### Step 9. Get the last business day of each month

### Step 10.  What is the difference in days between the first day and the oldest

### Step 11.  How many months in the data we have?

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

## Section 10: Deleting

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

### Step 6. Set the values of the first 3 rows from alcohol as NaN

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

### Step 9. Count the number of missing values

### Step 10.  Create an array of 10 random numbers up until 10

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

### Step 12.  How many missing values do we have?

### Step 13. Delete the rows that contain missing values

### Step 14. Print only the non-null values in alcohol

### Step 15.  Reset the index, so it starts with 0 again